<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Priskalkulator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/png" href="static/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<header>
    <img src="static/logotfg.png" alt="Header Image" width="150" height="50">
    <h1>Priskalkulator for stubbefresing</h1>
</header>
<body>
    <div class="container">
        <form id="priceForm">
            <label for="fname">Fornavn:</label>
            <input type="text" id="fname" name="fname" required>

            <label for="lname">Etternavn:</label>
            <input type="text" id="lname" name="lname" required>

            <label for="email">Epost:</label>
            <input type="email" id="email" name="email" required>

            <label for="phone">Telefonnummer:</label>
            <input type="tel" id="phone" name="phone" required>

            <label for="address">Gateadresse:</label>
            <input type="text" id="address" name="address" required>

            <label for="postnr">Postnummer:</label>
            <input type="text" id="postnr" name="postnr" required>
            <div id="distCostContainer">Transportkostnad: <span id="distCost">0</span> Kr</div>
            <div id="distContainer">Kjørelengde: <span id="distance">0</span></div>

            <label for="diameter">Diameter (Cm):</label>
            <select id="diameter" name="diameter" required>
                {% for diameter in diameters %}
                <option value="{{ diameter }}">{{ diameter }}</option>
                {% endfor %}
            </select>

            <label for="num_stumps">Antall stubber:</label>
            <input type="number" id="num_stumps" name="num_stumps" required>

            <label for="difficulty">Tilkomst:</label>
            <select id="difficulty" name="difficulty" required>
                {% for difficulty in diffclts %}
                <option value="{{ difficulty }}">{{ difficulty }}</option>
                {% endfor %}
            </select>
            <div id="result1Container">Stubbefresing kost totalt: <span id="result1">0</span> Kr</div>
        </form>
        <input type="button" id="sendEmailButton" value="Send">
        <h2>Estimert totalpris: <span id="calculatedPrice">0</span> Kr</h2>
    </div>

    <script>
        $(document).ready(function() {
            function calculatePrice() {
                $.ajax({
                    url: "{{ url_for('calculate_price_ajax') }}",
                    type: "POST",
                    data: {
                        address: $("#address").val(),
                        postnr: $("#postnr").val(),
                        diameter: $("#diameter").val(),
                        num_stumps: $("#num_stumps").val(),
                        difficulty: $("#difficulty").val()
                    },
                    success: function(data) {
                        $("#calculatedPrice").text(data.price);
                        $("#result1").text(data.result_1);
                        $("#distCost").text(data.dist_cost);
                        $("#distance").text(data.distance);
                    }
                });
            }

            $("#priceForm input, #priceForm select").on("input change", calculatePrice);

            // Initial calculation
            calculatePrice();
        });
    </script>
    <script>
        $(document).ready(function() {
            $("#sendEmailButton").click(function() {
                const formData = {
                    fname: $("#fname").val(),
                    lname: $("#lname").val(),
                    email: $("#email").val(),
                    phone: $("#phone").val(),
                    address: $("#address").val(),
                    postnr: $("#postnr").val(),
                    diameter: $("#diameter").val(),
                    num_stumps: $("#num_stumps").val(),
                    difficulty: $("#difficulty").val()
                };
    
                $.ajax({
                    url: "{{ url_for('send_email') }}",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(formData),
                    success: function(response) {
                        alert("Email sent successfully!");
                    },
                    error: function(error) {
                        alert("Error sending email.");
                    }
                });
            });
        });
    </script>
</body>
</html>
